{% extends "base.html" %}

{% block title %}Chat Rooms — SoulTalk{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="text-blue-500 hover:underline">← Назад</a>

  <h1 class="text-2xl font-semibold mb-4">Chat Rooms</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for room in rooms %}
      <a href="{% url 'room_detail' room.name %}" class="block text-center bg-pink-100 text-pink-800 hover:bg-pink-200 px-4 py-2 rounded-xl shadow-md transition duration-200">
        {{ room.name }}
      </a>
    {% endfor %}
  </div>
  
{% endblock %}
